@import "tailwindcss";

:root {
  --border-color: #d2d2d7;
  --border-radius: 6px;
  --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

body {
  max-width: 720px;
  margin: 0 auto;
}

html {
  padding: 0 0 16px 0;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
  color: #333;
  background-color: #f5f5f5;
}

select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23333333' d='M6 8L2 4h8z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
}
